<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <script src="./statics/jquery.js"></script>
    <script src="./statics/all.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href=".\statics\index.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Aiwisfin</title>
    <style>
        .button:link, .button:visited {
            font-family: "微軟正黑體";
            background-color: white;
            color: #60646c;
            padding: 16px 25px;
            text-align: center;
            font-size: large;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
        }
        #home_imformation {
            font-family: "微軟正黑體";
            background-color: white;
            color: #60646c;
        }

        /*.button:hover, .button:active {

            background-color: #0063b5;
        }*/

        .auto-style4 {
            width: 180px;
        }

        .auto-style7 {
            width: 100%;
        }

        .auto-style9 {
            width: 919px;
        }

        .auto-style17 {
            width: 101px;
            text-align: center;
        }

        .auto-style18 {
            width: 115px;
            text-align: center;
        }

        .auto-style19 {
            width: 89px;
            text-align: center;
        }

        .auto-style20 {
            width: 81px;
            text-align: center;
        }

        .auto-style21 {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class=" z-index-2 white">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img class="brand-logo" src="./img/AIWISFIN.png" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="./img/outline_menu_black_48dp.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/" style="font-family:微軟正黑體;background-color: white;color: #60646c;" >首頁</a>
                        </li>

                        <li>
                            <a href="/portfolio" style="font-family:微軟正黑體;background-color: white;color: #60646c;">投資組合最佳化</a>
                        </li>
                        <li>
                            <a href="/chat"style="font-family:微軟正黑體;background-color: white;color: #60646c;">聊天機器人</a>
                        </li>


                        <li>
                            <a href="/en">English</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="/" style="font-family:'微軟正黑體';font-size:large;color: #60646c;">首頁</a>
                        </li>

                        <li>
                            <a href="/portfolio" style="font-family:'微軟正黑體';font-size:large;color: #60646c;">投資組合最佳化</a>
                        </li>
                        <li>
                            <a href="/chat" style="font-family:'微軟正黑體';font-size:large;color: #60646c;">聊天機器人</a>
                        </li>
                        <li>
                            <a href="/en">English</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:initial"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:initial"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <img src="./img/portfolio.jpeg" width="100%" />
   
        <div class="card" id="home_imformation">
            <div class="container">
                <div>
                    <div style="display:inline-block;margin-left:30px">
                        <img src="./img/baseline_account_circle_black_36dp.png" />
                        <h5><b>我們會了解一些關於你的訊息</b></h5>
                        <h6>
                            <pre>您的理財規劃?您為什麼想投資?您理想的假期?首付?退休生活?                     </pre>
                        </h6>

                    </div>
                    <div style="display:inline-block;vertical-align:top;margin-left:30px">
                        <img src="./img/baseline_speaker_notes_black_36dp.png" />
                        <h5><b>即時智慧對話</b></h5>
                        <h6>
                            歡迎您與人工智慧機器人暢談!
                        </h6>
                    </div>

                </div>
                <div>
                    <div style="display:inline-block;margin-left:30px ">
                        <img src="./img/baseline_data_usage_black_36dp.png" />
                        <h5><b>我們將為你建立一個投資組合</b></h5>
                        <h6>
                            <pre>根據您的計畫我們將打造您專屬的投資計畫，使用我們的技術打造客製化的投資組合。  </pre>
                        </h6>
                    </div>
                    <div style="display:inline-block;vertical-align:top;margin-left:30px">
                        <img src="./img/baseline_search_black_36dp.png" />
                        <h5><b>即時金融資訊</b></h5>
                        <h6>
                            查詢即時金融資訊，包含股票，石油，黃金等價格。
                        </h6>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;margin-left:30px">
                        <img src="./img/baseline_signal_cellular_alt_black_36dp.png" />
                        <h5><b>然後實現我們的魔法</b></h5>
                        <h6>
                            <pre>我們將持續努力。一旦您完成設定，我們將持續管理您的投資組合。                 </pre>
                        </h6>
                    </div>
                    <div style="display:inline-block;vertical-align:top;margin-left:30px">
                        <img src="./img/baseline_adjust_black_36dp.png" />
                        <h5><b>目標</b></h5>
                        <h6>
                            聚焦理財，放眼未來。
                        </h6>
                    </div>
                </div>
            </div>
           
            

           

        </div>



   



    <script>


        $(line).click(function () {
            $(line2).toggle();
        });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src=".\statics\index_home.js"></script>
    <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script>



        if ($(window).width() < 993) {
            $('#voicesetting').css('display', 'none');
            $('#send_box').css('margin-right', '0px');
            $('.col.s12.m12.l2.sendbox').css({
                'padding-right': '30px',
                'padding-left': '30px',
            });
        } else {
            $('#voicesetting').css('display', 'inherit');
            $('#send_box').css('margin-right', '20px');
            $('.col.s12.m12.l2.sendbox').css({
                'padding-right': '0 0.75rem',
                'padding-left': '0 0.75rem',
            });
        }



    </script>
</body>
</html>
