<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <script src="./statics/jquery.js"></script>
    <script src="./statics/all.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href=".\statics\index.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Aiwisfin</title>
    <style>
        .button:link, .button:visited {
            font-family: "微軟正黑體";
            background-color: white;
            color: #60646c;
            padding: 16px 25px;
            text-align: center;
            font-size: large;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
        }

        /*.button:hover, .button:active {

            background-color: #0063b5;
        }*/

        .auto-style4 {
            width: 180px;
        }

        .auto-style7 {
            width: 100%;
        }

        .auto-style9 {
            width: 919px;
        }

        .auto-style17 {
            width: 101px;
            text-align: center;
        }

        .auto-style18 {
            width: 115px;
            text-align: center;
        }

        .auto-style19 {
            width: 89px;
            text-align: center;
        }

        .auto-style20 {
            width: 81px;
            text-align: center;
        }

        .auto-style21 {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class=" z-index-2 white">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img class="brand-logo" src="./img/AIWISFIN.png" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="./img/outline_menu_black_48dp.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/en" style="font-family:'Candara';font-size:large;color: #60646c; ">Home</a>
                        </li>

                        <li>
                            <a href="/portfolio_en" style="font-family:'Candara';font-size:large;color: #60646c;">Portfolio</a>
                        </li>

                        <li>
                            <a href="/chat_en" style="font-family:'Candara';font-size:large;color: #60646c;">ChatBot</a>
                        </li>

                        <li>
                            <a href="/">繁體中文</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="/en" style="font-family:'Candara';font-size:large;color: #60646c;">Home</a>
                        </li>

                        <li>
                            <a href="/portfolio_en" style="font-family:'Candara';font-size:large;color: #60646c;">Portfolio</a>
                        </li>

                        <li>
                            <a href="/chat_en" style="font-family:'Candara';font-size:large;color: #60646c;">ChatBot</a>
                        </li>
                        <li>
                            <a href="/">繁體中文</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:initial"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:initial"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <img src="./img/portfolio.jpeg" width="100%" />
   
        <div class="card" id="home_imformation">
            <div class="container">
                <div style="">
                    <img src="./img/baseline_account_circle_black_36dp.png" />
                    <h5><b>We'll learn a bit about you.</b></h5>
                    <h6>
                        Where are you in your financial life and what are you investing for? Dream vacation? Down payment? Nice little retirement?
                    </h6>

                </div>
                <div style="">
                    <img src="./img/baseline_data_usage_black_36dp.png" />
                    <h5><b>We'll build you a portfolio.</b></h5>
                    <h6>
                        Based on your answers, we'll recommend an investing plan and use our technology to build you a personalized portfolio.
                    </h6>
                </div>
                <div style="">
                    <img src="./img/baseline_signal_cellular_alt_black_36dp.png" />
                    <h5><b>Then, we put our magic to work.</b></h5>
                    <h6>
                        And we keep working. Once we get you set up, we'll manage your portfolio with tax-smart technology.
                    </h6>
                </div>
                <div style="">
                    <img src="./img/baseline_speaker_notes_black_36dp.png" />
                    <h5><b>AI Chatbot</b></h5>
                    <h6>
                        Welcome to talk with artificial intelligence robots!
                    </h6>
                </div>
                <div style="">
                    <img src="./img/baseline_search_black_36dp.png" />
                    <h5><b>Real-time financial information</b></h5>
                    <h6>
                        Query real-time financial information, including stocks, oil, gold and other prices.
                    </h6>
                </div>
                <div style="">
                    <img src="./img/baseline_adjust_black_36dp.png" />
                    <h5><b>Goal</b></h5>
                    <h6>
                        Agglomeration on financial management and looking to the future
                    </h6>
                </div>

            </div>

        </div>


  



    <script>


        $(line).click(function () {
            $(line2).toggle();
        });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src=".\statics\index_home.js"></script>
    <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script>



        if ($(window).width() < 993) {
            $('#voicesetting').css('display', 'none');
            $('#send_box').css('margin-right', '0px');
            $('.col.s12.m12.l2.sendbox').css({
                'padding-right': '30px',
                'padding-left': '30px',
            });
        } else {
            $('#voicesetting').css('display', 'inherit');
            $('#send_box').css('margin-right', '20px');
            $('.col.s12.m12.l2.sendbox').css({
                'padding-right': '0 0.75rem',
                'padding-left': '0 0.75rem',
            });
        }



    </script>
</body>
</html>
