<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <title>Aiwisfin portfolio</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href=".\statics\index.min.css">
    <link rel="stylesheet" href=".\statics\all.css">
    <script src="./statics/jquery.js"></script>
    <script src="./statics/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <style>
        .button:link, .button:visited {
            font-family: "微軟正黑體";
            background-color: white;
            color: #60646c;
            padding: 16px 25px;
            text-align: center;
            font-size: large;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
        }

        /*    .button:hover, .button:active {
            background-color: #0063b5;
        }*/

        .submit {
            font-family: "微軟正黑體";
            background-color: #5b5b5b;
            color: white;
            padding: 10px 15px;
            text-align: center;
            font-size: large;
            text-decoration: none;
            display: inline-block;
            border-radius: 20px;
        }

            .submit:hover, .submit:active {
                background-color: #0063b5;
            }
        tr{
            max-width:200px;
        }

        tr td {
            padding: 5px;
            padding-right: 15px;
            table-layout:fixed;
            max-width: 1px;
        }

        label {
            font-family: Microsoft JhengHei;
            font-weight: bold;
        }

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }

            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }

                [type="radio"]:checked + label:before,
                [type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #ddd;
                    border-radius: 100%;
                    background: #fff;
                }

                [type="radio"]:checked + label:after,
                [type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: #91c2f9;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }

                [type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }

                [type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

        .auto-style1 {
            width: 923px;
        }

        .auto-style5 {
            text-align: right;
            width: 10px;
        }

        .auto-style7 {
            text-decoration: underline;
        }

        .auto-style11 {
            float: right;
        }

        .auto-style20 {
            width: 414px;
            height: 140px;
        }

        .auto-style22 {
            text-align: center;
        }

        .auto-style23 {
            width: 85px;
        }
    </style>

    
</head>
<body>

    <div class="navbar-fixed">
        <nav class="white z-index-2">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo "><img class="brand-logo" src="./img/AIWISFIN.png" /></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="./img/outline_menu_black_48dp.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/">首頁</a>
                        </li>

                        <li>
                            <a href="/portfolio">投資組合最佳化</a>
                        </li>
                        <li>
                            <a href="/chat">聊天機器人</a>
                        </li>

                        <li>
                            <a href="/portfolio_en">English</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>

                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="/">首頁</a>
                        </li>

                        <li>
                            <a href="/portfolio">投資組合最佳化</a>
                        </li>
                        <li>
                            <a href="/chat">聊天機器人</a>
                        </li>

                        <li>
                            <a href="/portfolio_en">English</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/aiwisfin/" target="_blank"><img src="./img/facebook.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>

                        <li>
                            <a href="https://line.me/R/ti/p/%40hvr5886e"><img src="./img/LINE.png" border="0" style="width:50px;height:50px;margin-top:7.5px"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <tr>
            <td colspan="4" style="padding-left: 350px">
                <form method="post" action="./content.aspx" id="form1">
                    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="TkXM4+XO1WlpmxjBIo2qvs6jPcHPWWE9xgYKtN9uPMKid+10pXFfAa67oY4ETyb0FNs4Qz+42wOZesnbeZnJTk8YJL5Km/a1y7FVjYjd6UTJrWZF8EFpPrWfGSz+Jb7C25KJoQrE8QisFH8Z3sx/rjiH31ZVuVXnOCgaIDtpWLomaBJF1cThxmrnxDW9RhF5Rcl6UT0gy0sT7MSxcDqJUdU3PpBMb0P56AVNm1j5PqwjblhYP2pb+KmEXQMyb5Oeto6371t4PMwitoOnLOWSwM37RjFeG3ciWuZjpLvTbXkOzmaAGaNVLrk3GX/y+cnXMZcsHYTfSB15Y0DGyuj+jO437fS35P6okm18Gr2ldzq9eSoGem8ot7P+uII6FB2jgg9pi0wXbvfq8kRJ1IMh5Q0indyCQGuz/5p/q5ZC4lr4z8I+ykIMmOVRDqxd/vsfMwuKGwm5JQ3UuBuM93H0QVeRW5US5ffJQh4CMXZh5XL+GmoQWrSwmVSwm4hLHM5CA4PDJOZUwMDN19h1gB4lzw==">
                    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="65E7F3AF">
                    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="9nir0ugAJOFxuLelJUEeUIvQB3QBE7EPiyPwhktUyvaa50oVyyCn4g0qjn1tJnTfN3hm4UG3rAhOCVBGgo0ncUB1huNUjuJIFIvPJB8pqdc=">

                    <table id="form"class="highlight">
                        <tbody>
                            <tr>
                                <td>
                                    <label>1.我預計在多少時間後開始提取我目前投資的回報：1.我預計在多少時間後開始提取我目前投資的回報：  </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   
                                        <table id="RadioButtonList1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input id="RadioButtonList1_0" type="radio" name="RadioButtonList1" value="0">
                                                        <label for="RadioButtonList1_0">0-3年</label>
                                                    </td>
                                                    <td>
                                                        <input id="RadioButtonList1_1" type="radio" name="RadioButtonList1" value="1">
                                                        <label for="RadioButtonList1_1">3-5年</label>
                                                    </td>
                                                    <td>
                                                        <input id="RadioButtonList1_2" type="radio" name="RadioButtonList1" value="2">
                                                        <label for="RadioButtonList1_2">6-10年</label>
                                                    </td>
                                                    <td>
                                                        <input id="RadioButtonList1_3" type="radio" name="RadioButtonList1" value="3">
                                                        <label for="RadioButtonList1_3">10年以上</label>
                                                    </td>
                                                    <td>
                                                        <label></label>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>2.一旦開始從我的投資中提取資金，我計劃將所有資金用於多少年間：</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList2">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList2_0" type="radio" name="RadioButtonList2" value="0">
                                                    <label for="RadioButtonList2_0">0-2年</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList2_1" type="radio" name="RadioButtonList2" value="1">
                                                    <label for="RadioButtonList2_1">2-5年</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList2_2" type="radio" name="RadioButtonList2" value="2">
                                                    <label for="RadioButtonList2_2">6-10年</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList2_3" type="radio" name="RadioButtonList2" value="3">
                                                    <label for="RadioButtonList2_3">10年以上</label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>3.我對於投資的認識：</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList3">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList3_0" type="radio" name="RadioButtonList3" value="0">
                                                    <label for="RadioButtonList3_0">完全不了解</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList3_1" type="radio" name="RadioButtonList3" value="1">
                                                    <label for="RadioButtonList3_1">部分了解</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList3_2" type="radio" name="RadioButtonList3" value="2">
                                                    <label for="RadioButtonList3_2">大多了解</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList3_3" type="radio" name="RadioButtonList3" value="3">
                                                    <label for="RadioButtonList3_3">完全了解</label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>4.當我在投資時，我會：</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList4">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList4_0" type="radio" name="RadioButtonList4" value="0">
                                                    <label for="RadioButtonList4_0">注重風險</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList4_1" type="radio" name="RadioButtonList4" value="1">
                                                    <label for="RadioButtonList4_1">注重風險與報酬</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList4_2" type="radio" name="RadioButtonList4" value="2">
                                                    <label for="RadioButtonList4_2">注重報酬</label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>5.您目前擁有的投資項目：</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList5" align="left">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList5_0" type="radio" name="RadioButtonList5" value="0">
                                                    <label for="RadioButtonList5_0">債券或債券基金</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList5_1" type="radio" name="RadioButtonList5" value="1">
                                                    <label for="RadioButtonList5_1">股票或股票基金</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList5_2" type="radio" name="RadioButtonList5" value="2">
                                                    <label for="RadioButtonList5_2">國際債券或國際基金</label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>6.在過去3個月中，整體的股票市場已經損失25%，您所投資的標的也已損失25%的價值，您會：</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList6">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList6_0" type="radio" name="RadioButtonList6" value="0">
                                                    <label for="RadioButtonList6_0">賣掉所有股票</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList6_1" type="radio" name="RadioButtonList6" value="1">
                                                    <label for="RadioButtonList6_1">賣掉部分股票</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList6_2" type="radio" name="RadioButtonList6" value="2">
                                                    <label for="RadioButtonList6_2">維持現有投資標的</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList6_3" type="radio" name="RadioButtonList6" value="3">
                                                    <label for="RadioButtonList6_3">追加投資標的</label>
                                                </td>
                                                <td>
                                                    <label></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>
                                        7.查看下面的圖表，
                                        以下影五個假設投資計劃，其中包括最佳和最壞的年報酬率，哪種可能的結果是您最可接受的？
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="RadioButtonList7">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="RadioButtonList7_0" type="radio" name="RadioButtonList7" value="0">
                                                    <label for="RadioButtonList7_0">計畫A</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList7_1" type="radio" name="RadioButtonList7" value="1">
                                                    <label for="RadioButtonList7_1">計畫B</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList7_2" type="radio" name="RadioButtonList7" value="2">
                                                    <label for="RadioButtonList7_2">計畫C</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList7_3" type="radio" name="RadioButtonList7" value="3">
                                                    <label for="RadioButtonList7_3">計畫D</label>
                                                </td>
                                                <td>
                                                    <input id="RadioButtonList7_4" type="radio" name="RadioButtonList7" value="4">
                                                    <label for="RadioButtonList7_4">計畫E</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="./img/table3.png" class="auto-style20" />
                                </td>
                            </tr>


                            <tr>
                                <td class="auto-style22">
                                    <input type="button" name="Button1" value="送出" id="Button1" class="submit" onclick="myFunction()">
                                </td>
                            </tr>

                            <tr>
                                <td class="auto-style22">
                                    <img id="bigpic" style="width:800px; height:500px" src="./img/blank.png" hidden="hidden">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 200px"></td>
            <td style="padding-left: 200px">

                &nbsp;
            </td>
            <td style="padding-left: 200px">

                &nbsp;
            </td>
        </tr>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src=".\statics\index_home.js"></script>
    <script>
        $(line).click(function () {
            $(line2).toggle();
        });
    </script>

</body>
</html>